:root {
  --primary-color: #025f5a;
  --secondary-color: #6d584c;
  --accent-color: #eed9b5;
  --box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --border-radius: 10px;
}
body {
  background: #f6f6fa;
  padding: 40px;
  font-family: "Montserrat", sans-serif;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Content */

.main-content {
  padding: 88px 80px 40px 80px;
  box-sizing: border-box;
  width: 100%;
}

/* Sidebar */

.sidebar {
  background: #e0ebfe;
  padding-top: 40px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 370px;
}

.sidebar-content {
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
}

/* Contacts container */

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.contacts-type {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.contacts-container {
  margin-bottom: 40px;
}

/* Skills container */

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

.skills-list {
  padding-left: 16px;
}

.skills-list-item {
  color: #161d2a;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.skills-list-item::marker {
  color: #6d9bf5;
  padding-right: 10px;
  font-weight: 700;
}

/* Main content */

/* My info */

.my-info {
  margin-bottom: 40px;
}

.my-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-name {
  color: #000;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

/* My projects */

.my-projects-container {
  margin-bottom: 40px;
}

.my-projects-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-item {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my-projects-list {
  padding-left: 16px;
}

.my-projects-item-link {
  color: #005fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration-line: underline;
}

.my-projects-item-tech {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Work Experience */
.work-experience-container {
  margin-bottom: 40px;
}
.company-container {
  margin-top: 16px;
}
.work-experience-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 8px;
}
/* Company */
.work-experience-position {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 12px;
}
.company-name {
  color: #6d9bf5;
}
.work-experience-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 8px;
}
.work-experience-period-separator {
  color: #000;
}
.work-experience-duties-list {
  padding-left: 16px;
}
.work-experience-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.work-experience-duties-item::marker {
  padding-right: 10px;
  font-weight: 700;
}

/* My Education */
.education-container {
  margin-bottom: 40px;
}
.education-title {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 12px;
}
/* Education */
.education-container-school {
  margin-top: 16px;
}
.education-name {
  color: #6d9bf5;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-profession {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 12px;
}
.education-period {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 8px;
}
.education-period-separator {
  color: #000;
}
